<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Clases de ajuda | Fama Gás - Planejamento de recursos</title>
    <!-- Favicon-->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet"/>

    <!-- Animation Css -->
    <link href="plugins/animate-css/animate.css" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="stylesheets/themes/all-themes.css" rel="stylesheet"/>
</head>

<body class="theme-indigo">
    <!-- Page Loader -->
    <% include ../pages/ui/loader.ejs %>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <% include ../pages/ui/top-bar.ejs %>

    <section>
        <!-- Left Sidebar -->
        <% include ../pages/ui/left-sidebar.ejs %>
        <!-- Right Sidebar -->
        <% include ../pages/ui/right-sidebar.ejs %>
    </section>
    
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>HELPER CLASSES</h2>
            </div>
            <!-- Text Styles -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                TEXT STYLES
                                <small>You can use classes which names are <code>.font-bold, .font-italic, .font-underline, .font-line-through, .font-overline</code></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <p>
                                        <b>Normal</b>
                                    </p>
                                    <p>Default text</p>
                                    <p class="col-pink">Text pink color</p>
                                    <p class="col-cyan">Text cyan color</p>
                                    <p class="col-teal">Text teal color</p>
                                    <p class="col-orange">Text orange color</p>
                                    <p class="col-blue-grey">Text blue grey color</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <p>
                                        <b>Bold</b>
                                    </p>
                                    <p class="font-bold">Default text</p>
                                    <p class="font-bold col-pink">Text pink color</p>
                                    <p class="font-bold col-cyan">Text cyan color</p>
                                    <p class="font-bold col-teal">Text teal color</p>
                                    <p class="font-bold col-orange">Text orange color</p>
                                    <p class="font-bold col-blue-grey">Text blue grey color</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <p>
                                        <b>Italic</b>
                                    </p>
                                    <p class="font-italic">Default text</p>
                                    <p class="font-italic col-pink">Text pink color</p>
                                    <p class="font-italic col-cyan">Text cyan color</p>
                                    <p class="font-italic col-teal">Text teal color</p>
                                    <p class="font-italic col-orange">Text orange color</p>
                                    <p class="font-italic col-blue-grey">Text blue grey color</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <p>
                                        <b>Underline</b>
                                    </p>
                                    <p class="font-underline">Default text</p>
                                    <p class="font-underline col-pink">Text pink color</p>
                                    <p class="font-underline col-cyan">Text cyan color</p>
                                    <p class="font-underline col-teal">Text teal color</p>
                                    <p class="font-underline col-orange">Text orange color</p>
                                    <p class="font-underline col-blue-grey">Text blue grey color</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <p>
                                        <b>Line Through</b>
                                    </p>
                                    <p class="font-line-through">Default text</p>
                                    <p class="font-line-through col-pink">Text pink color</p>
                                    <p class="font-line-through col-cyan">Text cyan color</p>
                                    <p class="font-line-through col-teal">Text teal color</p>
                                    <p class="font-line-through col-orange">Text orange color</p>
                                    <p class="font-line-through col-blue-grey">Text blue grey color</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <p>
                                        <b>Overline</b>
                                    </p>
                                    <p class="font-overline">Default text</p>
                                    <p class="font-overline col-pink">Text pink color</p>
                                    <p class="font-overline col-cyan">Text cyan color</p>
                                    <p class="font-overline col-teal">Text teal color</p>
                                    <p class="font-overline col-orange">Text orange color</p>
                                    <p class="font-overline col-blue-grey">Text blue grey color</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Text Styles -->
            <!-- Font Sizes -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                FONT SIZES
                                <small>You can use the classes which samples are <code>.font-6, .font-10, .font-24</code> The number of can use between 6 - 50px which are near the <b>.font-</b></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <div class="font-6">font-6</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-10">font-10</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-12">font-12</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-15">font-15</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-20">font-20</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-24">font-24</div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <div class="font-32">font-32</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-40">font-40</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-42">font-42</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-45">font-45</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-48">font-48</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="font-50">font-50</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Font Sizes -->
            <!-- Text Aligns -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                TEXT ALIGNS
                                <small>You can use classes which names are <code>.align-left, .align-center, .align-right, .align-justify</code></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <p class="align-left">
                                        <b>Align Left</b>
                                    </p>
                                    <div class="align-left">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p class="align-center">
                                        <b>Align Center</b>
                                    </p>
                                    <div class="align-center">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p class="align-right">
                                        <b>Align Right</b>
                                    </p>
                                    <div class="align-right">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p class="align-justify">
                                        <b>Align Justify</b>
                                    </p>
                                    <div class="align-justify">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Text Aligns -->
            <!-- Margin & Padding Spaces -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                MARGIN & PADDING SPACES
                                <small>You can use classes which names are <code>.m-t-10, .m-t--10, .m-r-5, .p-t-10, .p-b-5, .w-f-25, .w-c-90</code></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <p>
                                <b>Margins</b>
                            </p>
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">T</span>op <span class="col-red font-bold">10</span>px &rarr; <code>.m-t-10</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">T</span>op <span class="col-red font-bold">0</span>px &rarr; <code>.m-t-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">T</span>op <span class="col-red font-bold">-10</span>px &rarr; <code>.m-t--10</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">L</span>eft <span class="col-red font-bold">35</span>px &rarr; <code>.m-l-35</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">L</span>eft <span class="col-red font-bold">0</span>px &rarr; <code>.m-l-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">L</span>eft <span class="col-red font-bold">-35</span>px &rarr; <code>.m-l--35</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">B</span>ottom <span class="col-red font-bold">15</span>px &rarr; <code>.m-b-15</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">B</span>ottom <span class="col-red font-bold">0</span>px &rarr; <code>.m-b-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">B</span>ottom <span class="col-red font-bold">-20</span>px &rarr; <code>.m-b--20</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">R</span>ight <span class="col-red font-bold">30</span>px &rarr; <code>.m-r-30</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">R</span>ight <span class="col-red font-bold">0</span>px &rarr; <code>.m-r-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">M</span>argin <span class="col-red font-bold">R</span>ight <span class="col-red font-bold">-30</span>px &rarr; <code>.m-r--30</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">ALL M</span>argin <span class="col-red font-bold">0</span>px &rarr; <code>.margin-0</code>
                                </div>
                            </div>
                            <p class="m-t-25">
                                <b>Paddings</b>
                            </p>
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">T</span>op <span class="col-red font-bold">10</span>px &rarr; <code>.p-t-10</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">T</span>op <span class="col-red font-bold">0</span>px &rarr; <code>.p-t-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">L</span>eft <span class="col-red font-bold">35</span>px &rarr; <code>.p-l-35</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">L</span>eft <span class="col-red font-bold">0</span>px &rarr; <code>.p-l-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">B</span>ottom <span class="col-red font-bold">15</span>px &rarr; <code>.p-b-15</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">B</span>ottom <span class="col-red font-bold">0</span>px &rarr; <code>.p-b-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">R</span>ight <span class="col-red font-bold">30</span>px &rarr; <code>.p-r-30</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">P</span>adding <span class="col-red font-bold">R</span>ight <span class="col-red font-bold">0</span>px &rarr; <code>.p-r-0</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">ALL P</span>adding <span class="col-red font-bold">0</span>px &rarr; <code>.padding-0</code>
                                </div>
                            </div>
                            <p class="m-t-25">
                                <b>Width</b>
                            </p>
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">F</span>ull <span class="col-red font-bold">25</span>% &rarr; <code>.w-f-25</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">F</span>ull <span class="col-red font-bold">50</span>% &rarr; <code>.w-f-50</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">F</span>ull <span class="col-red font-bold">75</span>% &rarr; <code>.w-f-75</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">F</span>ull <span class="col-red font-bold">100</span>% &rarr; <code>.w-f-100</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">C</span>ustom <span class="col-red font-bold">90</span>% &rarr; <code>.w-c-90</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">C</span>ustom <span class="col-red font-bold">95</span>% &rarr; <code>.w-c-95</code>
                                </div>
                                <div class="col-md-2">
                                    <span class="col-red font-bold">W</span>idth <span class="col-red font-bold">C</span>ustom <span class="col-red font-bold">98</span>% &rarr; <code>.w-c-98</code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Margin & Padding Spaces -->
            <!-- Spaces -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                ELEMENT SPACER
                                <small>You can use classes which names are <code>.spacer-15, .spacer-30, .spacer-45</code></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body" style="min-height: 25vmin;">
                            <!-- First Example -->
                            <div class="col-xs-6 p-r-0 p-l-0">
                                <div class="spacer-15-preview"></div>
                            </div>
                            <div class="col-xs-6 p-r-0 p-l-0">
                                <div class="spacer-15-preview "></div>
                            </div>
                            <!-- Second Example -->
                            <div class="col-xs-3 p-r-0 p-l-0">
                                <div class="spacer-15-preview w-c-90"></div>
                            </div>
                            <div class="col-xs-3 p-r-0 p-l-0">
                                <div class="spacer-15-preview w-c-90"></div>
                            </div>
                            <div class="col-xs-3 p-r-0 p-l-0">
                                <div class="spacer-15-preview w-c-90"></div>
                            </div>
                            <div class="col-xs-3 p-r-0 p-l-0">
                                <div class="spacer-15-preview w-c-90"></div>
                            </div>
                            <!-- Third Example -->
                            <div class="col-xs-6 p-r-0 p-l-0">
                                <div class="spacer-30-preview"></div>
                            </div>
                            <div class="col-xs-6 p-r-0 p-l-0">
                                <div class="spacer-30-preview"></div>
                            </div>
                            <!-- Fourth Example -->
                            <div class="col-xs-12 p-r-0 p-l-0">
                                <div class="spacer-45-preview w-c-98"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Spaces -->
            <!-- Special Class For User Entered Browser -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                SPECIAL CLASSES FOR EVERY BROWSERS
                                <small>When the user start the usage this theme, we put the browser info inside the <code>html</code> as class</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            Putting classes are <code>.ie10, .ie11, .edge, .opera, .chrome, .firefox, .safari</code> to class inside of <code>html</code> element. So you can create new classes for run only you specified browser(s).
                            <p class="m-t-25"><b>Example</b></p>
                            <pre><code class="language-css"><b>/* It will be work only IE10 */</b>
html.ie10 .menu .list {
   background-color: #CC0000;
}
<b>/* It will be work only Google Chrome */</b>
html.chrome .right-sidebar .header {
   font-size: 15px;
   font-weight: bold;
}</code>
</pre>
<p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Special Class For User Entered Browser -->
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>   

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="modules/admin.js"></script>
    <script src="modules/pages/ui/tooltips-popovers.js"></script>

    <!-- Settings Js -->
    <script src="modules/settings.js"></script>
</body>

</html>